@font-face {
  font-family: "cairo";
  src: url("../fonts/Cairo-Medium.ttf");
}

* {
  font-family: "cairo";
}
:root {
  --main-bg: #f0f4f8;
  --main-border: #e5e5e5;
  --blue-color: #09589d;
  --darck-blue: #084b85;
  --blue-500: #4f46e5;
  --disabled-bg:#F6F8F9;
}
.loading-spiner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}

.p-toast-message-icon {
  display: none;
}

.p-toast-message-content {
  padding: 0.5rem;
}

.p-toast-message-text {
  padding-inline-start: 0.5rem;
}
.p-breadcrumb {
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--main-border);
}
.p-breadcrumb-list {
  margin: unset;
}
.p-breadcrumb-chevron {
  rotate: 180deg;
  width: 13px;
  margin-top: 3px;
}
.bread-curent {
  text-decoration: none;
  font-size: 13px;
  cursor: default;
  color: black;
}
.bread-link {
  text-decoration: none;
  color: rgb(102, 102, 102);
  font-size: 13px;
}
.app-card {
  background-color: var(--main-bg);
  padding: 1rem;
  min-height: 89vh;
}

.btn-reuse {
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  outline: unset;
  width: auto;
}
.btn-reuse:focus {
  outline: unset;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.taple-header-info {
  background-color: white;
  border-radius: 0.6rem 0.6rem 0 0;
  padding: 0.7rem 2rem;
  font-size: 13px;
}
.table-title {
  color: var(--blue-color);
  align-content: center;
}
.table-total {
  background-color: var(--blue-500);
  color: white;
  padding: 0.1rem 0.2rem;
  line-height: 0.2rem;
  align-content: center;
  border-radius: 0.2rem;
  font-size: 10px;
}
.table-container {
  background-color: white;
  padding: 0.5rem;
  border: 1px solid var(--main-border);
  position: relative;
}
.p-datatable-thead {
  border: 0.5px solid rgba(112, 144, 176, 0.4);
}
.p-datatable-thead th {
  padding: 0.7rem 1rem;
  font-size: 13px;
  color: #5f5f5fbe;
  font-weight: normal;
}
.p-column-header-content {
  display: flex;
  justify-content: center;
}
.p-datatable-tbody td {
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid var(--main-border);
  padding: 0.7rem 1rem;
  overflow: hidden;
  max-width: 200px;
}
.table-actions {
  padding: 0.3rem 0.3rem;
  border: 1px solid var(--main-border);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.p-paginator {
  width: 100%;
  background-color: unset;
  padding: 8px 8px !important;
}
.p-paginator .p-dropdown {
  margin-left: auto;
  direction: ltr;
  align-items: center;
  height: 32px;
  padding: 8px;
  width: unset;
}
.p-dropdown-label {
  margin-inline-end: 10px;
  padding: 5px;
  font-size: 10px;
}
.p-dropdown-trigger {
  width: unset;
}
.p-dropdown-trigger svg {
  width: 0.5rem;
}
.p-paginator-prev,
.p-paginator-next {
  rotate: 180deg;
  width: 0.9rem;
}
.p-paginator-page,
.p-paginator-prev,
.p-paginator-next {
  min-width: unset;
  height: unset;
}
.p-paginator-page {
  font-size: 13px;
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  align-content: center;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: var(--blue-500);
  color: white;
}
.p-paginator-pages {
  display: flex;
  gap: 5px;
  align-items: center;
}
.p-dropdown-items {
  padding: 0.5rem 0.5rem;
}
.p-dropdown-item {
  padding: 0.5rem;
  justify-content: center;
  font-size: 13px;
  border-radius: 0.4rem;
}
.p-dropdown-panel {
  width: unset;
}
.card-title {
  background-color: white;
  border-radius: 0.6rem 0.6rem 0 0;
  padding: 0.7rem 2rem;
  font-size: 13px;
  color: var(--blue-color) !important;
  border: 1px solid var(--main-border);
  border-bottom: none;
}
.card-container {
  background-color: white;
  border: 1px solid var(--main-border);
  border-radius: 0.4rem 0 0.4rem 0.4rem;
  padding: 1rem 1.5rem;
}

.input-container label {
  margin-bottom: 0.5rem;
  font-size: 13px;
}
.input-container .p-inputtext {
  padding: 0.4rem;
  font-size: 14px;
}
.star{
  color: red;
}
.input-warning{
  font-size: 13px;
  color: #e24c4c;
}
.input-disabled{
  background-color: var(--main-bg);
  color: black !important;
  opacity: 1;
  padding: 1rem !important;
  border: none;
}
.bg-white{
  background-color: white !important;
}
.table-profile-img{
  width: 30px;
  height: 30px;
}