.chart-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
    width: 50%;
}
.dropdown-for-chart {
    padding-inline-start: 5px;
    width: 80px;
}
.dropdown-for-chart svg{
    margin-inline-end: 5px !important;
}
.dropdown-for-chart .p-dropdown-label{
    padding: 3px;
    text-align: center;
    margin-inline-start:9px ;
}
.chart-dropdown-panel ul{
margin:0;
}
.chart-dropdown-panel ul li{
    margin-bottom:2px;
    font-size: 10px;
    }