.side-bar {
  width: 22%;
  border-left: 1px solid #ccc;
}
.sidebar {
  background-color: #f8f9fa !important;
  width: 250px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-item {
  display: flex;
  align-items: center;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.menu-item img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.menu-item.active {
  background-color: #cccccc5e;
}
.menu-item:hover {
  background-color: #cccccc5e;
}
.menu-item span {
  font-weight: bold;
}
.menu-item .link {
  text-decoration: none;
  color:black;
  width: 100%;
  font-weight: bolder;
  align-items: center;
  align-content: center;
  padding: 12px 20px;
}

