.sidebar {
  background-color: #ffffff !important;
  width: 300px;
  height: 100vh;
  border-left: #E5E5E5 solid 1px;
}
.menu {
  list-style: none;
  padding: 25px 10px;
  margin: 0;
}
.brand-name h3{
  font-size: 25px;
  background-color: unset;
  font-family: unset;
  color: #333333 !important;
}
.navbar-brand {
  border-bottom: #E5E5E5 solid 1px;
  height: 66px !important;
  background-color: #FAFAFA;
}
.brand-span{
  font-size: 8px;
  color: #333333 !important;
}
.menu-item {
  display: flex;
  align-items: center;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.menu-item img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.menu-item.active {
  background-color: #cccccc5e;
}
.menu-item:hover {
  background-color: #cccccc5e;
}
.menu-item .link {
  text-decoration: none;
  color:#333333;
  width: 100%;
  align-items: center;
  align-content: center;
  padding: 12px 20px;
}

